h1,h2,h3,h4,h5,h6{
	font-family: 'DotGothic16', sans-serif;
}

#intro .bg-light{
	height:70vh;
}
#intro .p-5{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

nav li{
	margin: 0 20px;
}

#Introduction .bg-dark{
	height:70vh;
	color: #ffffff;
}
#Introduction .p-5{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#Introduction img{
	height:40vh;
	width:auto;
}

#Album .p-5{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#Album img{
	width:50%;
	height:auto;
}
#Album .bg-light{
	height:120vh;
}